body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px 52px;
}
.footer{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin-top: auto;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 8px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}
.hero{
    background-color: #1f2937;
    display: flex;
    flex: 1;
    padding: 50px 150px;
    justify-content: space-evenly;
    align-items: center;
}
.words{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero-text{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}
button{
    background-color: #3882f6;
    padding: 8px 32px;
    border-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
}
.hero-img{
    max-width: 500px;
    height: auto;
}
.info-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 32px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
.info-img{
    height: auto;
    width: 200px;
    border-radius: 15px;
}
.info-text{
    text-align: center;
    margin-bottom: 32px;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #e5e7eb;
}
.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}
.quote-thor{
    margin-left: auto;
    font-weight: bold;
}
.action{
    display: flex;
    margin: 100px 200px;
    padding: 50px 100px;
    background-color: #3882f6;
    justify-content: space-between;
    border-radius: 10px;
    color: #e5e7eb;
}
.action-box{
    display: flex;
    flex-direction: column;
}
.action-title{
    font-weight: bolder;
}
.action-button{
    border-color: #f9faf8;
}